#		                                                 x[kpc]  y[kpc]  z[kpc]  vx[km/s]  vy[km/s]  vz[km/s]  spin[deg]  incl[deg]
Galaxy         		params_files/protoplanetary_disk.params  0.0     0.0     0.0     0.0       0.0       0.0       0.0        0.0

Nthreads                16
MeanPartDist            0
MaxCompNumber           20
OutputRz		0
Filename                protopl
ICformat	        Gadget2
NormMassFact		0
GslIntegrationScheme	3
UnitMass		1.989e33
UnitLength		1.4960e13
UnitLengthName 		au
UnitMassName 		Msol
