# List of galaxy parameters file
# Putting identical galaxies one beside the other allows DICE
# to re-use the previous computation,
# and thus reduces the global execution time
Galaxy         ./galaxy1.params
Stream         ./streams.params

# Number of OpenMP threads
Nthreads                8
# Compute vertical hydrostatic equilibrium for gas components
GasHydrostaticEq        1
# Number of iterations to reach hyfrostatic equilibrium
GasHydrostaticEqIter    4
# Compute the mean inter-particle distance
# Useful to define the softening length in SPH codes
MeanPartDist            0
# Allow imaginary solution for the velocity dispersion computation
AcceptImaginary         0
# Maximum number of component for a galaxy model
MaxCompNumber           20
# Output the circular velocity in an additional file
OutputRc                0
# Define a Keplerian trajectory (only when 2 galaxies are defined)
SetKeplerian		0
# Name of the final IC file
# The file extension wil be added by DICE
Filename                dice_iso
# Cosmological parameters for Virial quantities
# Default values are taken from Planck cosmology
# Hubble constant
H0			71.0			
# Dark energy density parameter
OmegaL			0.70
# Matter density parameter
OmegaM			0.30
# Spatial curvature density paramter
OmegaK			0.00
