# List of galaxy parameters file
# Putting identical galaxies one beside the other allows DICE
# to re-use the previous computation,
# and thus reduces the global execution time
Galaxy         ./galaxy1.params
Galaxy         ./galaxy2.params

# Keplerian trajectory parameters
# This keywords should be set
# if you want a Keplerian orbit between two and only two galaxies!!
# If there are more or less galaxies, trajectories will be set according
# to the xc,yc,zc,vel_xc,vel_yc,vel_zc keywords in the galaxy parameters files.
# It induces that the keywords xc,yc,zc,vel_xc,vel_yc,vel_zc are not considered
# when the Keplerian trajectory parameters are set.
# By default, galaxies are aligned along the X-axis

# Eccentricity of the Keplerian orbits
Eccentricity    1.00
# Initial distance between the galaxies [kpc]
Rinit           100.
# Pericentral distance of the Keplerian system [kpc]
Rperi           1.
# Polar angle of the normal vector of the orbital plane
OrbitPlanePhi   45.
# Azimuthal angle pf the normal vector of the orbital plane
OrbitPlaneTheta 45.

Nthreads                6
GasHydrostaticEq        0
GasHydrostaticEqIter    4
MeanPartDist            0
AcceptImaginary         0
MaxCompNumber           20
OutputRc                0
SetKeplerian		1
Filename                dice_merger
